/* From Uiverse.io by revanth-004 */
/* COMMON STYLES*/
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

.popup {
    margin: 10px;
    box-shadow: 4px 4px 10px -10px rgba(0, 0, 0, 1);
    width: 300px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-radius: 4px;
    padding: 5px 0;
    font-weight: 300;
    pointer-events: auto;
    opacity: 0;
    transform: translateY(-40px);
    animation: slideDown 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.popup svg {
    width: 1.25rem;
    height: 1.25rem;
}
.popup-icon svg {
    margin: 5px;
    display: flex;
    align-items: center;
}
.close-icon {
    margin-left: auto;
}
.close-svg {
    cursor: pointer;
}
.close-path {
    fill: grey;
}

.popup.hide {
    opacity: 0 !important;
    transform: translateY(-40px) scale(0.96);
    transition: opacity 0.4s, transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    pointer-events: none;
}

/*SEPERATE STYLES*/

/* SUCCESS */
.success-popup {
    background-color: #edfbd8;
    border: solid 1px #84d65a;
}
.success-icon path {
    fill: #84d65a;
}
.success-message {
    color: #2b641e;
}

/* ALERT */
.alert-popup {
    background-color: #fefce8;
    border: solid 1px #facc15;
}
.alert-icon path {
    fill: #facc15;
}
.alert-message {
    color: #ca8a04;
}

/* ERROR */
.error-popup {
    background-color: #fef2f2;
    border: solid 1px #f87171;
}
.error-icon path {
    fill: #f87171;
}
.error-message {
    color: #991b1b;
}

/* INFO */
.info-popup {
    background-color: #eff6ff;
    border: solid 1px #1d4ed8;
}
.info-icon path {
    fill: #1d4ed8;
}
.info-message {
    color: #1d4ed8;
}